.container {
    margin: auto;
    width: 800px;
    position: relative;
}

.header {
    background-color: skyblue;
    height: 60px;
    text-align: center;
}

.header p {
    font-size: 20px;
    font-weight: bold;
    line-height: 57px;

}

.navbar {
    background-color: skyblue;
    text-align: center;
    height: 30px;
    margin-top: -7px ;
    margin-bottom: 7px ;
}

.navbar p {
    line-height: 30px;
    font-size: 20px;
    font-weight: bold;
}

.sidebar {
    height: 400px;
    width: 30%;
    background-color: skyblue;
    text-align: center;
    margin-top: -7px ;
    margin-bottom: 7px ;
}

.sidebar p {
    font-size: 20px;
    font-weight: bold;
    line-height: 400px;
}

.content {
    background-color: skyblue;
    width: 69%;
    height: 400px;
    text-align: center;
    margin-top: -7px;
    position: absolute;
    top: 123px;
    left: 248px;
}

.content p {
    font-size: 20px;
    font-weight: bold;
    line-height: 360px;
}

.footer {
    background-color: skyblue;
    height: 40px;
    text-align: center;
    margin-top: -7px;
}

.footer p {
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
}