html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #845EC2;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #ffff;
}

.parent {
    width: 450px;
    height: 450px;
}

.item .img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /* object-fit: cover; */
    background-image: url('img/foto4.jfif');
    background-size: cover;
    display: block;
    margin: 10px auto;
}

.item h1 {
    font-size: 16px;
    text-align: center;
    color: #FFFF;
    margin-top: 13px;
    margin-bottom:20px;
}

.item .child {
    width: 320px;
    height: 50px;
    margin: 20px auto;
}

.item .child a {
    display: inline-block;
    width: 320px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    border: solid #FFF 2px;
    text-decoration: none;
    color: #ffff;
}

.item .child a:hover{
    background-color: #4B4453;
}




/* 
        Kemarin minta waktu free untuk belajar
        giliran udah di kasih malah santai-santai 

*/